*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}



@import 'variables';


header {

    width: 100%;
    height: 350px;
    background-color: $fondo;
    display: flex;
    justify-content: center;
    background-image: url("pexels-photo-1005644.webp");
    background-size: 1600px 900px;
    background-repeat: no-repeat;
    position: relative;

    #encabezado {
       
        display: flex;
        align-items: center; 
        display: flex;
        justify-content: center;
        
        #titulo {
            font-size: 4em;
            color: white;
            text-shadow: 1px 1px 8px black;
            
        }
        
    }    
}

#menu {
    width: 100%;
    height: 50px;
    background-color: black;
    border: solid 2px white;
    position:sticky;
    
    ul{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        font-size: 1.5em;
        
        
        a {
            text-decoration: none;
            color: white;
            
            &:hover {
                color: black;
                background-color: lightgray;
                border-radius: 5px;
                padding: 5px;
            }
        }

    }

}

.principal {
   border: black 3px solid;
   margin: 20px 25px 0 25px;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   width: 97%;
   height: 750px;
   background-image: url("pexels-photo-2824173.jpg");
  
   

   .bienvenidos {
       
       color: white;
       padding: 31px 20px;
       font-size: 2em;
       background-color: black; 
       
        
    }

       

   .ariculo-bienvenida{
       width: 50vw;
       height: 45vw;
       padding: 20px 20px;
       font-size: 1.5em;
       text-align: justify;
       border-radius: 10px;
       background-color: rgba(255, 255, 255, 0.3);
       
   }
}

#diarios {

    
    width: 97%;
    margin: 0 25px;
    background-image: url("pexels-photo-2824173.jpg");
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: black solid 3px;
    padding-bottom:  10px;
    
    

    .titulos {
        padding: 20px;
        border: white 2px solid;
        display: flex;
        justify-content: center;
        font-size: 2em;
        background-color: black;
        color: white;
        width: 100%;
        
        
    }
    
    .container-diarios{

        margin: 10px;
        
        width: 30%;
        height: 300px;
        background-color: rgba(00, 00,00, 0.3);
        border-radius: 10px;
        overflow: hidden scroll;

        .titulos-diarios {
            color: white;
            text-shadow: 1px 3px 9px black;
            font-size: 1.8em;
            display: flex;
            justify-content: center;
            padding: 5px;
            border: white solid 2px;
            border-radius: 8px;
        }

        .arti-diarios{
            padding: 15px;
            text-align: justify;
            font-size: 1.2em;
            border: white 2px solid;
        }
    
    }

}

#articulos {

    width: 97%;
    margin: 0px 25px;
    border: black 1px solid;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: black solid 3px;
    

    .titulos {
        padding: 20px;
        border: white 1px solid;
        display: flex;
        justify-content: center;
        font-size: 2em;
        background-color: black;
        color: white;
        width: 100%;
    }

    #container-article {
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 10px;
        width: 32%;
        border-radius: 5px;
        background-color: white;
       
    }
    
    .titulo-article {
        font-size: 1.8em;
        display: flex;
        justify-content: center;
        padding: 5px;
        border: black solid 3px;
        border-radius: 10px;
       
    }

    .article {
        padding: 15px;
        text-align: justify;
        font-size: 1.2em;
        border: 2px solid black;
        border-radius: 10px;
        background-color: rgba(00, 00,00, 0.1);
    
    }

    .imagen-article {
        height: 440px;
        width: 100%;
        
        
    }
}

#descubrimientos{

    width: 97%;
    margin: 0px 25px 0px 25px;
    border: black 1px solid;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 3px black solid;

    .titulos{
        padding: 20px;
        border: white 1px solid;
        display: flex;
        justify-content: center;
        font-size: 2em;
        background-color: black;
        color: white;
        width: 100%;
        
    }

    #container-descubri {
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 10px;
        width: 48%;
        
        
    }

    .titulo-descubri {
        font-size: 1.8em;
        display: flex;
        justify-content: center;
        padding: 5px;
        border: rgb(128, 52, 44) 3px solid;
        border-radius: 5px;
        background-color: rgba( 128, 52, 44, 0.6);
        color: white;
    }

    .descubri {

        padding: 15px;
        text-align: justify;
        font-size: 1.2em;
        border: rgb( 128, 52, 44) 3px solid;
        border-radius: 5px;
    }

    .imagen-arti {

        height: 430px;
        width: 100%;
    }
}

#contactanos {

    width: 97%;
    margin: 0px 25px 0px 25px;
    border: black 3px solid;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .titulos {

        padding: 20px;
        border:white 1px solid;
        display: flex;
        justify-content: center;
        font-size: 2em;
        width: 50%;
        border-radius: 5px;
        background-color: black;
        color: white;
    }

    .contacto{

        width: 50%;
        margin: 10px 25px;
        padding: 25px;
        border: black 3px solid;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2em;
        border-radius: 10px;
        background-color: rgba(00, 00,00, 0.1);

        input {
            height: 40px;
            border-radius: 5px;
            font-size: 1em;
            
        }

        label {
           font-size: 1.2em;
           margin-bottom: 5px;
           margin-left: 5px;
        }

    }

    .button {
        
        padding: 10px;
        display: flex;
        justify-content:flex-start;
       

        .boton{
            width: 20%;
            height: 40px;
            border-radius: 5px;
            border-style: none;
            margin-right: 30px;
            font-size: 0.9em;
            background-color: black;
            color: white;

            &:hover {
                color: black;
                background-color: gray;
                border-radius: 5px;
                padding: 5px;
            }
            
        }
    }
}

footer {
    margin: 5px;
    padding: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}



